<div class="container">
  <h1>Welcome!</h1>
  <div *ngFor="let user of users">
    <button class="btn btn-secondary m-2" (click)="getUser(user.id)">
      Login with user - {{ user.firstName }} {{ user.lastName }}</button
    ><br />
  </div>
</div>
