<div class="d-flex" id="wrapper" *ngIf="user">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div>
      <div class="row">
        <div class="col-2">
          <img
            src="https://eu.ui-avatars.com/api/?name={{ user.firstName }} {{
              user.lastName
            }}"
            width="35px"
            height="35px"
            style="border-radius: 50%; margin: 5px"
          />
        </div>
        <div class="col-10">
          <p style="font-size: 22px">
            {{ user.firstName }} {{ user.lastName }}
          </p>
        </div>
      </div>
    </div>
    <div class="sidebar-heading">Kaptum</div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-house"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
          />
          <path
            fill-rule="evenodd"
            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
          /></svg
        >Home</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-lightning-charge"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"
          /></svg
        >Trending</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-clock-history"
          viewBox="0 0 16 16"
        >
          <path
            d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"
          />
          <path
            d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"
          />
          <path
            d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"
          /></svg
        >History</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-heart"
          viewBox="0 0 16 16"
        >
          <path
            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
          /></svg
        >Like videos</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        ><br />
        <h5>Following</h5></a
      >
      <br />
      <app-following
        [user]="user"
        [persons]="persons"
        (personsChange)="personsChangeHandler($event)"
        (userChange)="userChangeHandler($event)"
      ></app-following>
      <br />
      <a href="#" class="list-group-item list-group-item-action bg-light"
        ><h5>Suggested</h5>
      </a>
      <app-suggested
        [user]="user"
        [persons]="persons"
        (userChange)="userChangeHandler($event)"
        (personsChange)="personsChangeHandler($event)"
      ></app-suggested>
    </div>
  </div>
  <!-- /#sidebar-wrapper Page Content -->
  <div id="page-content-wrapper">
    <div>
      <app-videos [user]="user" [personVideo]="personVideo"></app-videos>
    </div>
    <div class="container">
      <app-live [videos]="videos"></app-live>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
