body {
  overflow-x: hidden;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}
#page-content-wrapper {
  min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.additional {
  padding: 15px;
  background-color: gray;
  margin: 40px;
  border-radius: 20px;
  max-height: 340px;
  display: flex;
  flex-direction: row;
  height: 350px;
}
.myCard {
  width: 130px;
  height: 210px;
}
.radius {
  border-radius: 20px;
  border-color: 1px solid black;
}

.enjoy {
  color: white;
  font-size: 14px;
  padding: 2px 2px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  width: 100px;
  height: 30px;
}
