<div *ngIf="persons">
  <div *ngFor="let person of persons" class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-3">
          <img
            src="../assets/{{ person.firstName }} {{ person.lastName }}.jpg"
            width="30px"
            height="30px"
            style="border-radius: 50px; margin: 5px"
          />
        </div>
        <div class="col-9">
          <a class="list-group-item list-group-item-action bg-light"
            >{{ person.firstName }} {{ person.lastName }}</a
          >
        </div>
      </div>
    </div>
    <div class="col-4">
      <button class="btn btn-success btn-sm m-2" (click)="follow(person.id)">
        Follow
      </button>
    </div>
    <hr />
  </div>
</div>
