body {
  overflow-x: hidden;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}
#page-content-wrapper {
  min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 700px;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.commentSection {
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  max-height: 400px;
  box-shadow: inset;
}

.commentInput {
  font-size: large;
  position: absolute;
  top: 48%;
  width: 33%;
  height: 10px;
  border-radius: 10px;
}
.enjoy {
  color: white;
  font-size: 14px;
  padding: 2px 2px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  width: 100px;
  height: 30px;
}
