<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush m-2" *ngFor="let video of videos">
      <div class="card">
        <img
          class="card-img-top"
          src="../assets/{{ video.title }}.jpg"
          alt="Card
      image cap"
        />
        <div class="card-body" style="height: 200px">
          <h5 class="card-title">{{ video.title }}</h5>
          <p class="card-text">{{ video.description }}</p>
          <a class="btn btn-primary" (click)="watchVideo(video.id)"
            >Watch now</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper Page Content -->
  <div id="page-content-wrapper" class="m-4 col-8">
    <div *ngIf="video">
      <div>
        <video
          src="{{ video.url }}"
          type="video/mp4"
          width="700px"
          class="library"
          controls
          preload="auto"
          data-config="some-js-object-here"
        ></video>
        <div>
          <div>
            <h3>{{ video.title }}</h3>
            <div class="row">
              <div class="col-2">
                <p>400k views</p>
              </div>
              <div class="col-7">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="19"
                  height="19"
                  fill="currentColor"
                  class="bi bi-clock"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
                  />
                  <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
                  />
                </svg>
                2 days ago
              </div>
              <div class="col-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="19"
                  height="19"
                  fill="currentColor"
                  class="bi bi-hand-thumbs-up-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"
                  />
                </svg>
                <p>16k</p>
              </div>
              <div class="col-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="19"
                  height="19"
                  fill="currentColor"
                  class="bi bi-hand-thumbs-down-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"
                  />
                </svg>
                <p>205</p>
              </div>
              <div class="col-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="19"
                  height="19"
                  fill="currentColor"
                  class="bi bi-share-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"
                  />
                </svg>
                <p>Share</p>
              </div>
            </div>
          </div>
          <div></div>
          <br />
          <div>
            <button class="enjoy btn-primary">Enjoy free</button>
            <button class="enjoy btn-secondary m-2">Tip</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
  <div *ngIf="person" class="col-4 m-4 commentSection">
    <div class="row">
      <div class="col-4">
        <img
          src="../assets/{{ person.firstName }} {{ person.lastName }}.jpg"
          width="60px"
          height="60px"
          style="border-radius: 50%; margin: 10px"
        />
      </div>
      <div class="col-8">
        <h2>{{ person.firstName }} {{ person.lastName }}</h2>
      </div>
    </div>
    <div class="container" *ngFor="let comment of video.comments">
      <div style="background-color: rgb(225, 225, 225); border-radius: 10px">
        <p class="m-2">
          <strong>{{ comment.firstName }}</strong>
        </p>
        <p class="m-2">{{ comment.comment }}</p>
      </div>
    </div>
    <hr />
    <div>
      <form
        #commentForm="ngForm"
        (ngSubmit)="addComment(commentForm, video.id)"
      >
        <div>
          <p style="font-size: 16px; margin-left: 30px">Say something</p>
          <input
            ngModel
            name="comment"
            style="
              word-wrap: break-word;
              border-radius: 30px;
              height: 15px;
              width: 530px;
              margin-left: 17px;
            "
            type="text"
            class="form-control mb-3 p-4"
            placeholder="Add a comment.."
          />
        </div>
      </form>
    </div>
  </div>
</div>
