/* Container needed to position the button. Adjust the width as needed */
.customContainer {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.customContainer img {
  width: 18rem;
  height: 200px;
}

/* Style the button and place it in the middle of the container/image */
.customContainer .customBtn {
  position: absolute;
  top: 90%;
  left: 247px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(210, 0, 0);
  color: white;
  font-size: 16px;
  padding: 2px 2px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  width: 70px;
}

.customContainer .customBtn:hover {
  background-color: rgb(180, 0, 0);
}

.enjoy {
  color: white;
  font-size: 12px;
  padding: 2px 2px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  width: 100px;
  position: absolute;
  top: 90%;
}

.myCard {
  border-radius: 10px;
  border: none;
}

.images {
  width: 97.9%;
  background-color: rgb(64, 64, 104);
  margin-left: 30px;
  margin-right: 30px;
}
