<div *ngIf="personVideo" class="row images">
  <div *ngFor="let video of personVideo" class="col-3">
    <app-video-blueprint [video]="video"></app-video-blueprint>
  </div>
</div>
<ng-content></ng-content>
