<div class="additional row" *ngIf="videos">
  <div *ngFor="let video of videos" class="col-2">
    <div class="card radius">
      <div>
        <img
          src="../assets/{{
            video.person.firstName + ' ' + video.person.lastName
          }}.jpg"
          class="card-img-top"
          style="height: 210px; border-radius: 20px"
        />
      </div>
      <div class="card-body">
        <h6 class="card-title" style="height: 30px">
          {{ video.video.title }}
        </h6>
        <button class="enjoy btn-primary">Enjoy free</button>
      </div>
    </div>
  </div>
</div>
