.enjoy {
  color: white;
  font-size: 14px;
  padding: 2px 2px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  width: 100px;
  height: 30px;
}
.additional {
  padding: 15px;
  background-color: gray;
  margin: 40px;
  border-radius: 20px;
  max-height: 340px;
  display: flex;
  flex-direction: row;
  height: 350px;
}
.myCard {
  width: 130px;
  height: 210px;
}
.radius {
  border-radius: 20px;
  border-color: 1px solid black;
}
