<div *ngIf="user">
  <div *ngFor="let follow of user.following" class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-3">
          <img
            src="../assets/{{ follow.firstName }} {{ follow.lastName }}.jpg"
            width="30px"
            height="30px"
            style="border-radius: 50px; margin: 5px"
          />
        </div>
        <div class="col-9">
          <a class="list-group-item list-group-item-action bg-light"
            >{{ follow.firstName }} {{ follow.lastName }}</a
          >
        </div>
      </div>
    </div>
    <div class="col-4">
      <button class="btn btn-danger btn-sm m-2" (click)="unfollow(follow.id)">
        Unfollow
      </button>
    </div>
    <hr />
  </div>
</div>
