<div *ngIf="video">
  <div class="m-4">
    <div class="card myCard" style="width: 18rem">
      <div class="customContainer">
        <img
          width="18rem"
          height="150px"
          class="card-img-top"
          src="../assets/{{ video.video.title }}.jpg"
          alt="Card
          image cap"
        />
        <button class="customBtn" (click)="watchVideo(video.video.id)">
          Live
        </button>
      </div>
      <div class="card-body myCard" style="height: 150px">
        <div class="row">
          <div class="col-2">
            <img
              src="../assets/{{ video.person.firstName }} {{
                video.person.lastName
              }}.jpg"
              width="45px"
              height="45px"
              style="border-radius: 50px; padding: 2px"
            />
          </div>
          <div class="col-10">
            <h5>{{ video.video.title }}</h5>
            <p>{{ video.person.firstName }} {{ video.person.lastName }}</p>
          </div>
        </div>
        <button class="enjoy btn-primary">Enjoy for $3</button>
      </div>
    </div>
  </div>
</div>
